<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body class="bg-light" style="font-family: 'Roboto', sans-serif;">

<div class="w-100 mt-1">
    <footer class="bg-dark text-white text-center text-lg-start py-4 w-100">
        <div class="container p-4">
            <div class="row mt-4">
                <div class="col-lg-4 col-md-12 mb-4">
                    <h5 class="text-uppercase mb-4">Desarrollo del Proyecto</h5>
                      <p style="font-size: 0.875rem;">
                        Este sitio ha sido desarrollado con fines personales y no está destinado a su uso comercial ni a la distribución sin la debida autorización.
                    </p>
                    <p style="font-size: 0.875rem;">
                        Cualquier utilización no autorizada de este proyecto está prohibida. Si deseas obtener más información sobre su uso o necesitas autorización, no dudes en ponerte en contacto conmigo.
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h3 class="mb-3">Anexos importantes</h3>
                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-home"></i></span><span>Contacto: correa.kro@gmail.com</span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="text-uppercase mb-4">Soporte</h5>
                    <table class="table text-center text-white">
                        <tbody>
                            <tr>
                                <td>Correo:</td>
                                <td>correa.kro@gmail.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2025 Todos los derechos reservados: <a class="text-white" href="#">Control y Gestión</a>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Desarrollado por Carolina Correa
        </div>
    </footer>
</div>

</body>
</html>
