{% extends 'global/layout.html' %}

{% load static %}

{% block content %}
<div class="container-fluid bg-light d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="row w-100 justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-lg rounded-4 border-0 p-3 w-100">
                <div class="card-header bg-secondary text-white text-center py-3 rounded-4">
                    <h4 class="card-title m-0">Carga de Correos</h4>
                </div>

                {% if messages %}
                    {% for message in messages %}
                        <div style="position: fixed;top: 50px; right: 100px; width: 300px; z-index: 9999;" class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                <form id="formulario_correos" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <label class="form-label fw-bold text-dark">Seleccione el archivo a cargar...</label>
                            <input class="form-control" type="file" name="csv_file_correos" id="csv_file_correos" accept=".csv, .xlsx, .xls" required>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary" style="width: 20%;">Cargar Correos</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/carga_correo_masivo/carga_correos.js' %}"></script>
{% endblock %}
